.page-header {
  font-weight: 500;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 30px; }
  @media screen and (max-width: 999px) {
    .page-header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .page-header__top {
    position: absolute;
    left: calc(50% - 57.5px);
    top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 999px) {
      .page-header__top {
        position: static;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .page-header__number, .page-header__link {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    top: 47px;
    white-space: nowrap; }
  .page-header__number {
    margin: 0 82px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .page-header__number:hover {
      color: #d5c5aa; }
  .page-header__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .page-header__link:hover {
      color: #d5c5aa; }
  .page-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 934px;
    margin: 0 auto 32px;
    text-transform: uppercase; }
    @media screen and (max-width: 999px) {
      .page-header__nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        line-height: 2em; } }
  .page-header__nav-link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .page-header__nav-link__nav-link:hover {
      color: #d5c5aa; }
    .page-header__nav-link--active {
      color: #000;
      background-color: #d5c5aa;
      border-radius: 10px;
      padding: 7px 20px;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .page-header__nav-link--active:hover {
        color: #2f80ed; }

/*# sourceMappingURL=page-header.css.map */
